name: CI

on:
  push:
    branches:
      - main
    paths:
      - '**.swift'
      - '**.yml'
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 'swift:6.0'
          - 'swift:6.1'
          - 'swift:6.2'
    container:
      image: ${{ matrix.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install zstd
        run: |
          apt-get update -y
          apt-get install -y zstd

      - name: Restore .build
        id: restore-build
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: swiftpm-build-${{ matrix.image }}-${{ github.event.pull_request.base.sha || github.event.after }}
          restore-keys: swiftpm-build-${{ matrix.image }}-

      - name: Test
        run: swift test

      - name: Cache .build
        if: steps.restore-build.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: .build
          key: swiftpm-build-${{ matrix.image }}-${{ github.event.pull_request.base.sha || github.event.after }}
